body {
}
.Horiz_row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.Horiz_card {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

    .Horiz_card > img {
        margin-bottom: .75rem;
        width: 100%;
    }

.Horiz_card-text {
    font-size: 85%;
}